---
layout: default
title: Blog
description: blog showing tutorials and where resources came from
hero: /images/work.jpg
---
<div id="blog" class="container-fluid no-padding no-margin-child">
  <section id="posts" class="row">
    {% for post in site.posts %}

    <div class="col-xs-12 post no-padding">
      <div class="col-sm-6 col-xs-12 no-padding {% cycle '', 'pull-right', '' %}">

        {% if post.featured_image %}
          {% for image in post.featured_image %}
          <img class="post-img" src="{{ image.url }}" title="{{ image.title }}" alt="{{ image.alt }}"/>
          {% endfor %}
        {% else %}
          <img class="post-img" src="/images/default-img.jpg" title="no image" alt="{{ site.name }}"/>
        {% endif %}

      </div>
      <div class="col-sm-6 col-xs-12 {% cycle '', 'pull-left', '' %}">

        <div class="post-content">
          <h3>
            {{ post.title }}
            <small>
              {% if post.categories %}
                {% assign categories = post.categories[1] %}
                {% for category in categories %}
                  <span class="cat">{{ category | capitalize }}</span>
                {% endfor %}
              {% endif %}
              {% assign day = post.date | date: "%-d"  %}
              {% case day %}
                {% when '1' or '21' or '31' %}{{ day }}st
                {% when '2' or '22' %}{{ day }}nd
                {% when '3' or '23' %}{{ day }}rd
                {% else %}{{ day }}th
              {% endcase %}
              {{ post.date | date: "of %B %Y" }}
            </small>
          </h3>
          <div class="excerpt">{{ post.excerpt }}</div>
          <button class="btn btn-default" type="button" name="button" role="button"><a href="{{ post.url }}">Read More</a></button>
        </div>

      </div>
    </div>

    {% endfor %}
  </section>
</div>
