<header id="hero" {% if page.url != '/' %}class="page-hero"{% endif %}>
  <div class="jumbotron" {% for hero in page.hero %}
  style="background: url({{ hero }}) no-repeat;">
  {% endfor %}
    <div class="hero-container container">
      <h1 class="title text-center">
        {% if page.path contains '_posts' %}
        Useful links
        {% else %}
        {{ page.title }}
        {% endif %}
      </h1>
      <p class="lead text-center">
        {% if page.url == "/blog.html" or page.path contains '_posts' %}
        ...for when you need help and inspiration.
        {% elsif page.areas or page.type %}
        ...into the lab
        {% else %}
        ...because everybody needs a place to learn... and CODE!
        {% endif %}
      </p>
    </div>
  </div>
</header>
