/*------------------------------
Screen Size
------------------------------*/

// Extra large screen / wide desktop
$screen-xl:                  1560px !default;
$screen-xl-min:              $screen-xl !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-lg-max:              ($screen-xl-min - 1) !default;

// Large screen / wide desktop
$container-extralarge-desktop: ($screen-xl - $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-xl:                 $container-extralarge-desktop !default;

// Super large screen / wide desktop
$screen-sl:                  1760px !default;
$screen-sl-min:              $screen-sl !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-sl-desktop:          $screen-sl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xl-max:              ($screen-sl-min - 1) !default;

// Large screen / wide desktop
$container-superlarge-desktop: ($screen-sl - $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-sl:                 $container-superlarge-desktop !default;

/*------------------------------
Grid
------------------------------*/

.container-xl {
  @include container-fixed;

  @media (min-width: $screen-xl-min) {
    width: $container-xl;
  }
}

// Extra large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-xl-min) {
  @include make-grid(xl);
}

.container-sl {
  @include container-fixed;

  @media (min-width: $screen-sl-min) {
    width: $container-sl;
  }
}

// Extra large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-sl-min) {
  @include make-grid(sl);
}

/*------------------------------
Colours
------------------------------*/
$white:  $body-bg !default;
$black:  $gray-base !default;
$silver: #dcdcdc !default;
$alto-gray: #ddd !default;
$light-gray: lighten($alto-gray,10.7%);


/*------------------------------
Font
------------------------------*/
$font: $font-family-base !default;
$headers: $font-family-serif !default;
$sans: $font-family-sans-serif !default;
$special: "oneday" !default;

@font-face {
  font-family: 'oneday';
  src: url('../fonts/One-Day.eot'); /* IE9 Compat Modes */
  src: url('../fonts/One-Day.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/One-Day.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/One-Day.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/One-Day.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*------------------------------
Font Sizes
------------------------------*/
//headings
$h1:  $font-size-h1 !default;
$h2:  $font-size-h2 !default;
$h3:  $font-size-h3 !default;
$h4:  $font-size-h4 !default;
$h5:  $font-size-h5 !default;
$h6:  $font-size-h6 !default;

//non-headings
$font-size:  $font-size-base !default;
$font-lg:    $font-size-large !default;
$font-md:    $font-lg - 2 !default;
$font-sm:    $font-size-small !default;
$font-xs:    $font-sm - 2 !default;

/*------------------------------
Global Elements
------------------------------*/
body{
  position: relative;
  margin: 0;
  padding-bottom: 6.4%;
  min-height: 100%;
  @media all and (max-width: 1440px){
    padding-bottom: 12.4%;
  }
}
.no-padding{
  padding: 0;
}
.no-padding-right{
  padding-right: 0;
}
.no-padding-left{
  padding-left: 0;
}
.clearfix{
  clear: both;
  display: block;
}
.no-margin{
  margin-left: 0;
  margin-right: 0;
}
.no-margin-child{
  > .row, > [class*="col-"]{
    margin-left: 0;
    margin-right: 0;
  }
}
