head
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  title {{ page.title }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=nshrink-to-fit=no">

  <!--build:css(.) css/main.min.css -->
  <link rel="stylesheet" href="{% link /css/scss-main.css %}">
  //- <link rel="stylesheet" href="/css/animate.css">
  <!--endbuild -->
