.post-container.col-xs-12
  article.post-inner
    h1 Oops... 
      small No content was found for this section
    p Maybe try going back and looking for something else or come back later?
    button.btn.btn-danger.btn-lg
      a(href="{{ site.url }}") Back
