script(src="{% link /js/jquery.min.js %}")
script(src="{% link /js/jquery-migrate.min.js %}")
//- <!--build:js(.) js/main.min.js -->
script(src="{% link /js/bootstrap.js %}")
script(src="{% link /js/custom.js %}")
//- <!--endbuild -->
