---
layout: area-layout
title: Other
description: For all other useful assets. E.g packages such as flightplan and dependacies
type: area
excerpt: For all other useful assets. E.g packages and dependacies.
---
<!-- if subpages has content -->

{% assign subpage = site.subpages | sort: "categories" %}
{% assign cat = subpage | where: "categories", 'other' %}

{% for item in cat %}

   {% include content.html %}

{% else %}
<!-- if subpages don't have content -->

  {% include no-content.html %}

{% endfor %}
