#footer{

  position: absolute null 0 0;
  padding: 3rem;
  width: 100%;
  background-color: $gray-dark;
  color: $silver;
  .social{
    position: relative;
    height: 5em;
    .contact{
      position: absolute 0;
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;
      @include support(display,flex);
      justify-content: flex-start;
      > li{
        display: inline-block;
        margin-left: 1em;
        font-size: $h3;
        @include support(display,flex);
        a{
          color: $silver;
          font-size: 40px;
          @include transition(all,200ms,ease-in-out);
          &:hover, &:active, &:focus{
            color: $white;
            text-decoration: none;
          }
          > i{
            font-size: inherit;
          }
        }
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          a{
            font-family: $special;
          }
        }
      }
    }
  }
  .copyright{
    padding: 1em;
    .copyrightWrap{
      margin-top: 1.5%;
      p{
        font-size: $font-sm;
        > a{
          color: $silver;
          text-decoration: underline;
          &:hover, &:active, &:focus{
            color: $white;
          }
        }
      }
    }
  }

}
