nav{
  position: absolute 0 0 null 0 !important;
  width: 100%;
  z-index: 99;
  .navbar-header{
    > .navbar-brand{
      font-family: $special;
      font-size: $h4;
      font-weight: 600;
    }
  }
}
