#hero{
  position: relative;
  .jumbotron{
    background-size: cover !important;
    background-position: center !important;
    @include size(100%,100vh);
    margin-bottom: 0;
    overflow: hidden;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%,100%);
      background-color: rgba($black,.5);
    }
    .hero-container{
      @include centerPosition;
      h1, p{
        color: $white;
      }
      h1{
        margin: 0 0 0.4em;
        font-family: $special;
      }
    }
  }
  &.page-hero{
    .jumbotron{
      @include size(100%,80vh);
    }
  }
}
