---
layout: default
title: Blog
description: blog showing tutorials and where resources came from
hero: /images/blogging.jpg
---
<div id="blog" class="container-fluid no-padding no-margin-child">
  <section id="posts" class="row">
    {% for post in paginator.posts %}

    <div class="col-xs-12 post no-padding">
      <div class="col-lg-5 col-sm-6 col-xs-12 post-img no-padding {% cycle '', 'pull-right' %}">

        {% if post.featured_image %}
          {% for image in post.featured_image %}
          <img class="img" src="{{ image.url }}" title="{{ image.title }}" alt="{{ image.alt }}"/>
          {% endfor %}
        {% else %}
          <img class="post-img" src="/images/default.jpg" title="no image" alt="{{ site.name }}"/>
        {% endif %}

      </div>
      <div class="col-lg-7 col-sm-6 col-xs-12 {% cycle '', 'pull-left' %}">

        <div class="post-content">
          <h3>
            {{ post.title }}
            <small>
              {% if post.categories %}
                {% for category in post.categories offset:1 %}
                  <span class="cat">{{ category | capitalize }}</span>
                {% endfor %}
              {% endif %}
              {% assign day = post.date | date: "%-d"  %}
              <span class="date">
                {% case day %}
                  {% when '1' or '21' or '31' %}{{ day }}<sup>st</sup>
                  {% when '2' or '22' %}{{ day }}<sup>nd</sup>
                  {% when '3' or '23' %}{{ day }}<sup>rd</sup>
                  {% else %}{{ day }}<sup>th</sup>
                {% endcase %}
                {{ post.date | date: "%B %Y" }}
              </span>
            </small>
          </h3>
          {% if post.content contains 'img' %}
            {% assign excerpt = post.content | split: '<!--image-->' %}
            <div class="excerpt">{{ excerpt[1] | truncatewords: 58 }}</div>
          {% else %}
            <div class="excerpt">{{ post.excerpt }}</div>
          {% endif %}
          <button class="btn btn-default" type="button" name="button" role="button"><a href="{{ post.url }}">Read More</a></button>
        </div>

      </div>
    </div>

    {% endfor %}
  </section>
  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="paginate-wrapper">
    <div class="paginate-tab"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <nav class="paginate-navigation" aria-label="Page navigation" role="navigation">
      <ul class="pagination pagination-lg">
        <li {% unless paginator.previous_page %}class="disabled"{% endunless %}>
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous"><span aria-hidden="true">&laquo; Prev</span></a>
          {% else %}
            <span aria-hidden="true">&laquo; Prev</span>
          {% endif %}
        </li>

        {% for page in (1..paginator.total_pages) %}
          <li {% if page == paginator.page %}class="active"{% endif %}>
            {% if page == paginator.page %}
              <a href="#">{{ page }} <span class="sr-only">(current)</span></a>
            {% elsif page == 1 %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          </li>
        {% endfor %}

        <li {% unless paginator.next_page %}class="disabled"{% endunless %}>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next"><span aria-hidden="true">Next &raquo;</span></a>
          {% else %}
            <span aria-hidden="true">Next &raquo;</span>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
  {% endif %}
</div>
