---
layout: default
---
<div id="post-container" class="container-fluid">
  <div class="container-sl container-xl container">
    <section class="post-row row">
      <article class="col-xs-12 post-inner">

        <h2>
          {{ page.title }}
          <small>
            {% assign day = page.date | date: "%-d"  %}
            {% case day %}
              {% when '1' or '21' or '31' %}{{ day }}<sup>st</sup>
              {% when '2' or '22' %}{{ day }}<sup>nd</sup>
              {% when '3' or '23' %}{{ day }}<sup>rd</sup>
              {% else %}{{ day }}<sup>th</sup>
            {% endcase %}
            {{ page.date | date: "%B %Y" }}
          </small>
        </h2>
        <div class="post-content">
          {{ content }}
        </div>

      </article>
    </section>
  </div>
</div>
